.field-name-field-images {
  float: left;
}
#edit-field-images.field-name-field-images {
  float: none;
}
.product-info .field-name-field-images {
  width: 45%;
}
.product-info .field-name-field-product,
.product-info .field-name-field-rating,
.product-info .social-links {
  margin: 0 0 0 55%;
}
.product-info .field-name-field-images .field-slideshow,
.product-info .field-name-field-images .field-slideshow-slide {
  max-width: 100%;
  width: auto;
}
.region-content .product-info ul.field-slideshow-pager {
  width: 100%;
}

/* Cancel the clearfix to make the 5star display properly. (otherwise it clears
the image on the left. */
.product-info .field-name-field-rating:after {
  clear: none;
  display: block;
}
/* Make captions only display in pop-up */
.node-type-product-detail .field-slideshow-caption {
  display: none;
}

/* Quicktabs default styles */
#quicktabs-product_details ul.quicktabs-style-nostyle {
  border-bottom: 1px solid #ccc;
  margin-bottom: 0;
  padding: 0;
}
#quicktabs-product_details ul.quicktabs-style-nostyle li a {
  background: #eee;
  border: 1px solid #ccc;
  border-radius: 4px 4px 0 0;
  color: #333;
  padding: 3px 10px;
}
#quicktabs-product_details ul.quicktabs-style-nostyle li.active a {
  background: #fff;
  border-bottom: 1px solid #fff;
  color: #000;
}
#quicktabs-container-product_details.quicktabs-style-nostyle {
  border: 1px solid #ccc;
  border-top: 0;
  padding: 20px 15px;
}
