/* Make clearfix so floated elements stay inside block. */
#quicktabs-browse_products:after,
#quicktabs-browse_products_full:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}
#quicktabs-browse_products ul.quicktabs-tabs,
#quicktabs-browse_products_full ul.quicktabs-tabs {
  float: right;
  padding: 10px 10px 0 0;
}
#quicktabs-browse_products .views-exposed-form label,
#quicktabs-browse_products_full .views-exposed-form label {
  float: left;
  padding: 10px 10px 0 0;
}
#quicktabs-browse_products .views-exposed-form .form-submit,
#quicktabs-browse_products_full .views-exposed-form .form-submit {
 margin-top: 5px;
}
#quicktabs-browse_products .browse-grid-item,
#quicktabs-browse_products_full .browse-grid-item {
  float: left;
  width: 30%;
  margin: 0 1.5% 20px;
  text-align: center;
  border: 1px solid #ccc;
}
#quicktabs-browse_products .browse-list-item,
#quicktabs-browse_products_full .browse-list-item {
  margin: 0 15px;
  padding: 15px 0;
  border-bottom: 1px solid #ccc;
}
