#quicktabs-browse_products,
#quicktabs-browse_products_full {
  border: 1px solid #ccc;
}
/* Stylings for the View */
#quicktabs-browse_products .view-filters,
#quicktabs-browse_products_full .view-filters {
  padding: 0 10px;
  background: #EEEEEE;
  border-bottom: 1px solid #B5B5B5;
  margin-bottom: 20px;
}
#quicktabs-browse_products .view-content,
#quicktabs-browse_products_full .view-content {
  padding: 10px 0;
  display: inline-block;
  width: 100%;
}
/* Styling the Quicktabs to replace with icons */
#quicktabs-browse_products ul.quicktabs-tabs li,
#quicktabs-browse_products_full ul.quicktabs-tabs li {
  margin: 0;
  padding: 0;
}
#quicktabs-tab-browse_products-0,
#quicktabs-tab-browse_products-1,
#quicktabs-tab-browse_products_full-0,
#quicktabs-tab-browse_products_full-1 {
  float: left;
  height: 0;
  overflow: hidden;
  padding: 20px 0 0;
  width: 20px;
  margin-left: 10px;
}
#quicktabs-tab-browse_products-0,
#quicktabs-tab-browse_products_full-0 {
  background: transparent url("grid.png") no-repeat 0 0;
}
#quicktabs-tab-browse_products-1,
#quicktabs-tab-browse_products_full-1 {
  background: transparent url("list.png") no-repeat 0 0;
}
