#block-views-promos-block {
  background: #FFF;
  border: 1px solid #CCC;
}
#block-views-promos-block .subtitle {
  font-size: 1.1666em;
  font-weight: 600;
  font-style: italic;
}
#block-views-promos-block .views-slideshow-pager-fields .views-slideshow-pager-field-item .views-content-counter {
  border: 1px solid #CCC;
  background-color: #EEE;
}
#block-views-promos-block .views-slideshow-pager-fields .active .views-content-counter {
  background-color: #BCD6F0;
  border: 1px solid #215E94;
}
#block-views-promos-block .views-slideshow-controls-text-previous,
#block-views-promos-block .views-slideshow-controls-text-next,
#block-views-promos-block:hover .views-slideshow-controls-text-previous,
#block-views-promos-block:hover .views-slideshow-controls-text-next{
  width: 23px;
  padding-top: 40px;
  background-position: center center;
  border: 1px solid #CCC;
  opacity: 1;
}
#block-views-promos-block .views-slideshow-controls-text-previous:hover,
#block-views-promos-block .views-slideshow-controls-text-next:hover {
  background-color: #EEE;
}
#block-views-promos-block .views-slideshow-controls-text-previous {
  left: -1px;
}
#block-views-promos-block .views-slideshow-controls-text-next {
  right: -1px;
}
