#block-views-promos-block {
  margin-bottom: 20px;
}
#block-views-promos-block .right,
#block-views-promos-block .left {
  max-width: 45%;
}
#block-views-promos-block .right {
  margin-right: 4%;
  float: right;
}
#block-views-promos-block .left {
  margin-left: 4%;
  float: left;
}
#block-views-promos-block .headline,
#block-views-promos-block .subtitle,
#block-views-promos-block .message,
#block-views-promos-block .promo-link {
  margin: 0 5%;
  max-width: 40%;
  float: left;
  clear: left;
}
#block-views-promos-block .headline {
  padding-top: 30px;
  font-size: 1.5em;
}
#block-views-promos-block .subtitle {
  margin-bottom: 10px;
}
#block-views-promos-block .message {
  margin-bottom: 15px;
}
#block-views-promos-block .views_slideshow_main {
  position: relative;
}
#block-views-promos-block .views-slideshow-pager-fields {
  position: absolute;
  right: 10px;
  bottom: 10px;
  z-index: 10;
}
#block-views-promos-block .views-slideshow-pager-fields .views-slideshow-pager-field-item {
  float: left;
}
#block-views-promos-block .views-slideshow-pager-fields .views-slideshow-pager-field-item .views-content-counter {
  padding: 6px 12px;
  margin-left: 10px;
}
#block-views-promos-block .views-slideshow-controls-text-previous,
#block-views-promos-block .views-slideshow-controls-text-next {
  position: absolute;
  top: 40%;
  height: 0;
  padding: 15px 0 0;
  width: 10px;
  overflow: hidden;
  opacity: 0;
  z-index: 10;
}
#block-views-promos-block:hover .views-slideshow-controls-text-previous,
#block-views-promos-block:hover .views-slideshow-controls-text-next {
  opacity: .5;
}
#block-views-promos-block .views-slideshow-controls-text-previous:hover,
#block-views-promos-block .views-slideshow-controls-text-next:hover {
  opacity: 1;
}
#block-views-promos-block .views-slideshow-controls-text-previous {
  background: transparent url("prev.png") no-repeat 0 0;
  left: 0;
}
#block-views-promos-block .views-slideshow-controls-text-next {
  background: transparent url("next.png") no-repeat 0 0;
  right: 0;
}
#block-views-promos-block .views-slideshow-controls-text-pause {
  display: none;
}
#block-views-promos-block .views_slideshow_slide {
  padding-bottom: 15px;
  width: 100%;
}
